.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --navbar-height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#main-navbar {
  height: var(--navbar-height);
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.layout-main {
  padding-top: calc(var(--navbar-height) + 0.5rem);
}

.scroll-top-left .p-scrolltop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: auto;
}
